<div *ngIf="filtered">

    <h2>{{ filtered.name }}</h2>
    <div style="display: flex; justify-content: space-between;">
        <div style="flex: 1;">
            <ng-container *ngIf="filtered.sources.length > 1; else singleSource">
                <p>Source Profiles:</p>
                <ul>
                    <li *ngFor="let profile of filtered.sources">
                        <a [href]="profile.simplifier_url" target="_blank">{{ profile.profile_key }}</a>
                    </li>
                </ul>
            </ng-container>
            <ng-template #singleSource>
                <p>Source Profile:
                    <a [href]="filtered.sources[0].simplifier_url" target="_blank">{{
                        filtered.sources[0].profile_key }}</a>
                </p>
            </ng-template>

            <p>Target Profile:
                <a [href]="filtered.target.simplifier_url" target="_blank">{{ filtered.target.profile_key
                    }}</a>
            </p>
            <p>Version: {{ filtered.version }}, Status: {{ filtered.status }}</p>
            <p>Last updated on: {{ filtered.last_updated }}</p>
        </div>
        <div style="flex: 1; display: flex; justify-content: flex-end;">
            <div>
                <h3>Color Legend:</h3>
                <ul style="list-style: none; padding: 0;">
                    <li><span style="background-color: #DCF6E9;">&nbsp;&nbsp;&nbsp;&nbsp;</span> No action needed for
                        this mapping</li>
                    <li><span style="background-color: #FFEBE6;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Information will be
                        removed or left empty in this mapping</li>
                    <li><span style="background-color: #FFFAE6;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Special action required
                        for this mapping</li>
                    <li><span style="background-color: #ACF0F9;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Caution reference!</li>
                </ul>
            </div>
        </div>
    </div>

    <div style="flex: 1; display: flex; justify-content: flex-end;">
        <mat-form-field fxFlex="40%">
            <input matInput type="text" (keyup)="handleTable($event).filter()" placeholder="Filter" />
        </mat-form-field>
    </div>
    <table id="resultsTable" class="display" style="width: 100%" *ngIf="filtered?.fields?.length" matSort
        (matSortChange)="handleTable($event).sorter()">
        <thead>
            <tr>
                <th mat-sort-header="name">Property</th>
                <ng-container *ngFor="let profile of filtered.sources">
                    <th mat-sort-header="{{ profile.name }}">{{ profile.name }}</th>
                </ng-container>
                <th mat-sort-header="{{ filtered.target.name }}">
                    {{ filtered.target.name }}
                </th>
                <ng-container>
                    <th mat-sort-header="remark">Erläuterung</th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let field of filtered.fields; let i = index"
                [ngClass]="getClassificationCssClass(field.classification)">
                <td>
                    {{ field.name }}
                    <ng-container *ngIf="field.extension">
                        <br />({{ field.extension }})
                    </ng-container>
                </td>
                <ng-container *ngFor="
              let profile of filtered.sources.concat(
                filtered.target
              )
            ">
                    <td>
                        <ng-container *ngIf="isProfilePresent(field.profiles, profile.key)">X</ng-container>
                    </td>
                </ng-container>

                <td (mouseenter)="handleEdit(i).startHover()" (mouseleave)="handleEdit().stopHover()">
                    <span *ngIf="editingIndex !== i">{{ field.remark }}</span>
                    <button *ngIf="hoverIndex === i && editingIndex !== i" (click)="handleEdit(i).startEdit()">
                        Ändern
                    </button>
                    <div *ngIf="editingIndex === i">
                        <div>Aktueller Stand: {{ field.remark }}</div>
                        <select [(ngModel)]="field.remark">
                            <option *ngFor="let classification of field.actions_allowed"
                                [value]="classification">
                                {{ getClassificationInstruction(classification) }}
                            </option>
                        </select>
                        <div *ngIf="field.use === 'copy_from'">
                            <span>Wird aus&nbsp;</span>
                            <select [(ngModel)]="field.targetField">
                                <option *ngFor="let availableField of availableFields" [value]="availableField.id">
                                    {{ availableField.name }}
                                </option>
                            </select>
                            <span>&nbsp;übernommen</span>
                        </div>
                        <div *ngIf="field.use === 'copy_to'">
                            <span>Wird in&nbsp;</span>
                            <select [(ngModel)]="field.targetField">
                                <option *ngFor="let availableField of availableFields" [value]="availableField.id">
                                    {{ availableField.name }}
                                </option>
                            </select>
                            <span>&nbsp;übernommen</span>
                        </div>
                        <div *ngIf="field.userClassification === 'fixed'">
                            <span>Wird fix auf&nbsp;</span>
                            <input type="text" [(ngModel)]="field.fixedValue" />
                            <span>&nbsp;gesetzt</span>
                        </div>
                        <button class="confirm" (click)="confirmChanges(field)">
                            <i class="fas fa-check"></i>
                        </button>
                        <button class="cancel" (click)="handleEdit().cancelEdit()">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator (page)="handleTable($event).paginator()" [length]="totalLength" [pageSize]="pageSize"
        [showFirstLastButtons]="false" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
        aria-label="Select page">
    </mat-paginator>
</div>