<div class="m-20">
  <!-- Header mit h2, Input und Plus-Icon -->
  <div class="header-row">
    <h2 class="title">Projects</h2>

    <div class="project-input-group">
      <mat-form-field appearance="outline" class="project-input">
        <mat-label>Project Name</mat-label>
        <input matInput [(ngModel)]="newProjectName" />
      </mat-form-field>

      <fa-icon
        [icon]="faPlus"
        (click)="createProject()"
        class="icon create-icon"
      ></fa-icon>
    </div>
  </div>

  <!-- Tabelle darunter -->
  <table class="modern-table">
    <tr>
      <th>Project Name</th>
      <th class="actions-column">Actions</th>
    </tr>
    <tr *ngFor="let project of projects">
      <td class="project-items">
        {{ project }}
      </td>
      <td class="actions-column" >
        <button mat-icon-button (click)="loadProject(project)" >
          <mat-icon>remove_red_eye</mat-icon>
        </button>
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
        
      </td>
    </tr>
  </table>
</div>
