<div class="m-20">
  <h2>Projects</h2>
  <table class="table">
    <tr>
      <th>Project Name</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let project of projects" >
      <td class="project-items">
        {{ project }}
      </td>
      <td class="project-actions">
        <fa-icon [icon]="faEdit" (click)="loadProject(project)" class="icon"></fa-icon>
        <fa-icon [icon]="faTrash" class="icon"></fa-icon>
      </td>
    </tr>
    <tr>
      <td>
        <input [(ngModel)]="newProjectName" placeholder="Project Name" />
      </td>
      <td  class="add-new-project">
        <fa-icon [icon]="faPlus" (click)="createProject()" class="icon"></fa-icon>
      </td>
    </tr>
  </table>
 
</div>