
  
  .project-item a {
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
  }


  .project-items {
    width: 90%;
  }

  .project-actions {
    width: 10%;
  }
  
  .project-item a:hover {
    text-decoration: underline;
  }
  
  .icon {
    cursor: pointer;
    margin-left: 10px;
  }
  
  .icon:hover {
    color: red;
  }