<div class="m-20" *ngIf="comparison">

  <h2>{{ comparison.name }}</h2>
  <div style="display: flex; justify-content: space-between;">
    <div style="flex: 1;">
      <ng-container *ngIf="comparison.sources.length > 1; else singleSource">
        <p>Source Profiles:</p>
        <ul>
          <li *ngFor="let profile of comparison.sources">
            <a [href]="profile.url" target="_blank">{{ profile.name }}</a>
          </li>
        </ul>
      </ng-container>
      <ng-template #singleSource>
        <p>Source Profile:
          <a [href]="comparison.sources[0].url" target="_blank">{{ comparison.sources[0].name }}</a>
        </p>
      </ng-template>

      <p>Target Profile:
        <a [href]="comparison.target.url" target="_blank">{{ comparison.target.name }}</a>
      </p>

    </div>
    <div style="flex: 1; display: flex; justify-content: flex-end;">
      <div>
        <h3>Legende:</h3>
        <ul style="list-style: none; padding: 0;">
          <li><span style="background-color: #e4fce3;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Compatible</li>
          <li><span style="background-color: #FCF3CF;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Warning</li>
          <li><span style="background-color: #fde4e3;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Inkompatibel: Zielprofil strenger als Quellprofil</li>
        </ul>
      </div>
    </div>
  </div>

  <div style="flex: 1; display: flex; justify-content: flex-end;">
    <mat-form-field fxFlex="40%">
      <input matInput type="text" placeholder="Filter" (keyup)="filterComparisonFields($event)" />
    </mat-form-field>
  </div>

  <div style="max-height: 600px; overflow: auto;">
    <table id="resultsTable" class="display sticky-table" style="width: 100%" *ngIf="comparison?.fields?.length" matSort>
      <thead>
        <tr>
          <th class="default-th" mat-sort-header="name">Property</th>
          
         
          <th class="default-th" mat-sort-header="classification">Classification</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let field of comparison.fields; let i = index">
          <tr [ngClass]="loadComparisonCSSProperty(field.classification)">
            <td class="default-td">{{ field.name }}</td>
            
            <td class="default-td">
              <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                <span style="flex: 1;">{{ field.classification }}</span>
                <button class="button-expand-table" (click)="toggleRow(i)" aria-label="Toggle Row">
                  <mat-icon>{{ expandedRow === i ? 'expand_less' : 'expand_more' }}</mat-icon>
                </button>
              </div>
              <ng-container *ngIf="field.extension">
                <br />({{ field.extension }})
              </ng-container>
            </td>
          </tr>
          <tr *ngIf="expandedRow === i">
            <td [attr.colspan]="2 + comparison.sources.length">
              <div class="expanded-detail" style="padding: 0 16px;">
               
                <table class="inner-detail-table" style="width: 100%; margin-top: 10px;">
                  <thead>
                    <tr>
                      <th  *ngFor="let profile of comparison.sources.concat(comparison.target)">{{ profile.name }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td *ngFor="let profile of comparison.sources.concat(comparison.target)">
                        <ng-container *ngIf="field.profiles[profile.key] as p">
                          Min: {{ p.min }}<br>
                          Max: {{ p.max }}<br>
                          Must Support: {{ p.must_support }}
                        </ng-container>
                        <ng-container *ngIf="!field.profiles[profile.key]">
                          Nicht vorhanden
                        </ng-container>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
