/* Farbstil für Zeilen basierend auf ihrer Kompatibilität */
mat-expansion-panel.compatible {
  background-color: #e4fce3;
  color: #000;
}

mat-expansion-panel.warning {
  background-color: #FCF3CF;
  color: #000;
}

mat-expansion-panel.incompatible {
  background-color: #fde4e3;
  color: #000;
}


.table-container {
  max-height: 600px;
  overflow: auto;
}

.mat-header-cell {
  background: white;
  z-index: 10;
}

.comparison-accordion {
  width: 100%;
}

.detail-content {
  padding: 10px 20px;
  background: #fafafa;
  border-left: 4px solid #ccc;
}

mat-expansion-panel {
  margin-bottom: 8px;
}
