<div class="m-20" *ngIf="comparison">

    <h2>{{ comparison.name }}</h2>
    <div style="display: flex; justify-content: space-between;">
        <div style="flex: 1;">
            <ng-container *ngIf="comparison.sources.length > 1; else singleSource">
                <p>Source Profiles:</p>
                <ul>
                    <li *ngFor="let profile of comparison.sources">
                        <a [href]="profile.url" target="_blank">{{ profile.name }}</a>
                    </li>
                </ul>
            </ng-container>
            <ng-template #singleSource>
                <p>Source Profile:
                    <a [href]="comparison.sources[0].url" target="_blank">{{
                        comparison.sources[0].name }}</a>
                </p>
            </ng-template>

            <p>Target Profile:
                <a [href]="comparison.target.url" target="_blank">{{ comparison.target.name
                    }}</a>
            </p>

        </div>
        <div style="flex: 1; display: flex; justify-content: flex-end;">
            <div>
                <h3>Color Legend:</h3>
                <ul style="list-style: none; padding: 0;">
                    <li><span style="background-color: #e4fce3;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Compatible</li>
                    <li><span style="background-color: #FCF3CF;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Warning</li>
                    <li><span style="background-color: #fde4e3;">&nbsp;&nbsp;&nbsp;&nbsp;</span> Incompatible</li>

                </ul>
            </div>
        </div>
    </div>

    <div style="flex: 1; display: flex; justify-content: flex-end;">
        <mat-form-field fxFlex="40%">
            <input matInput type="text" placeholder="Filter" (keyup)="filterComparisonFields($event)" />
        </mat-form-field>
    </div>
  <mat-accordion multi class="comparison-accordion" *ngIf="comparison?.fields?.length">
  <mat-expansion-panel
  *ngFor="let field of comparison.fields"
  [ngClass]="field.classification">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ field.name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ field.classification }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="detail-content">
      <p><strong>Classification:</strong> {{ field.classification }}</p>

      <p *ngIf="field.extension"><strong>Extension:</strong> {{ field.extension }}</p>

      <div>
        <strong>Profiles:</strong>
        <ul>
          <li *ngFor="let profile of comparison.sources.concat(comparison.target)">
            <ng-container *ngIf="field.profiles[profile.key] as p">
              {{ profile.name }}: Min: {{ p.min }}, Max: {{ p.max }}, Must Support: {{ p.must_support }}
            </ng-container>
            <ng-container *ngIf="!field.profiles[profile.key]">
              {{ profile.name }}: Nicht vorhanden
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>



</div>